<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- File Logging -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>server.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>server.log.%d.gz</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%date [%-5level] [%thread] [%logger:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <!--
    Log Levels: ALL < TRACE < DEBUG < INFO < WARN < ERROR < OFF
    -->
    <root level="${root-level:-INFO}">
        <appender-ref ref="FILE"/>
    </root>
</configuration>
